.simply{
    background-color: #8F9AE9;
      border-bottom: 10px dashed orangered;
}
.information{
    background-color: cornflowerblue;
      border-bottom: 10px dashed orangered;
}
.liverys{
    background-color: #D0BA42;
      border-bottom: 10px dashed orangered;
}
.images{
    background-color: aquamarine;
      border-bottom: 10px dashed orangered;
}
.container{
    background-color: #FF002D;
    border-bottom: 10px dashed orangered;
}
